<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="14"
    android:versionName="1.0.1">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- Required for Android 14+ Foreground Services -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <!-- Required for Android 13+ to show notifications for the foreground service -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="barcode" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChooseChapterActivity"/>
        <activity
            android:name=".RecordActivity"/>
        <activity
            android:name=".SyncActivity"
            android:label="@string/title_activity_sync"
            android:theme="@style/SyncTheme"/>

        <service
            android:name=".SyncService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="dataSync"/>

        <activity
            android:name=".ChooseBookActivity"
            android:label="@string/title_activity_choose_book"/>

        <activity android:name=".ChooseProjectActivity"/>
    </application>

</manifest>
